/* Style for figshare metadata that is pre-populated */
.fs_meta {
    font-size:18px;
    color: #808080; /* grey */
    margin-left: 20px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Background color to the button if it is clicked on (add the .active class with JS),
   and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\02795'; /* "plus" sign (+) */
  font-size: 13px;
  font-weight: bold;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* "minus" sign (-) */
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.anchor { padding-top: 50px; }